
@font-face {
    font-family:"TTLakesR" ;
    src: url("./fonts/TTLakes-Regular.woff") format("woff");
    font-display: swap;
    
}
@font-face {
    font-family:"TTLakesM" ;
    src: url("./fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    
}@font-face {
    font-family:"TTLakesB" ;
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
    font-display: swap;
}

body{
    font-family: "TTLakesR",sans-serif;
    font-size: 14px;
  
    background-color:#F8F8F8;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: FFFFFF;
    padding: 24px 16px;
    margin-bottom: 24px;
    box-shadow: 0 1px 0px 0px #D9FFF5;
    
}

.header-menu-list{
    display: flex;
    list-style-type:none;
    padding: 0;
    column-gap: 16px;
   
}

.header-menu-link{
 display: inline-flex;   
 height: 40px;
 width: 40px;
text-decoration: none;

}
.header-menu-list li{
    background-color: #FF3E79;
border-radius: 50%;
}
.header-menu-list li:hover {
    background-color: #fa0a32;
    transition-duration: 0.3s;
     opacity: 1;
}
 
.link1{
display: flex;
align-items: center;
justify-content: center;
}
.link2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left{display: flex;
    align-items: center;
    column-gap: 16px;
}
.header-right
{display: flex;
    align-items: center;
    justify-content: end;
        }


.stick{
    display: flex;
    align-self: center;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color:#EAEAEA;
    margin-left: 17px;
    margin-right: 20px;
}
.header-burger-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
        background-color: #FF3E79;
    border: 0;
    border-radius: 50%;
  }
  .header-burger-button:hover {
    background-color: #fa0a32;
    transition-duration: 0.3s;
     opacity: 1;
}



.services{
    display: flex;
    align-items: center;
    column-gap: 12px;
    height: 40px;
    margin-bottom: 24px;
}
.services-stick{
    width:4px ;
    height: 40px;
    background-color:#41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.services-text{
    display: flex;
    font-family: "TTLakesB";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 0
    ;
   }
  
      
ul,li{
    padding: 0;
    margin: 0;
}

 .slider{
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 16px;
    padding-bottom: 24px;
    overflow-y: hidden;
  scroll-behavior: smooth;
      }  

.slider::-webkit-scrollbar { display: none }

.slider-slides-list{
    display: flex; 
  }

.slider-slides_button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 .slider-slides_button1{
     width: 242px;
     height: 36px;
     background-color:#F8F8F8;
    border: none;
     }
 .slider-slides_button2{
    width: 258px;
    height: 36px;
    background-color:#F8F8F8;
    border: none;
    }
.active{
border:2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #ffffff;
}
.link{
    text-decoration: none;}
.slider-sliders{
    position: relative;
}
.slider-slides_button1{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: "TTLakesM";
    font-size: 16px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color:#7E7E82;
}  
.slider-slides_button2{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: "TTLakesM";
    font-size: 16px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color:#7E7E82;
}


 .services::after {
        content: "";
        position: absolute;
        top: 180px;
        right: 0;
        width: 24px; /* 1 */
        height:40px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #F8F8F8
        100%); /* 2 */
      }

.firstblock{
    display: flex;
    margin-left: 16px;

    
}


      
 .firstblock_readmore{
    display: flex;
    width: 132px;
    height: 24px;
    margin: 16px 156px 16px 16px;
    padding-left: 8px;
    justify-content: center;
    border-radius: 3px ;
   }

   .firstblock_readmore-button {
    display: flex; 
    align-items: center;
    text-decoration: none; 
    
     }
     .firstblock_readmore-button:visited {
        color: #000000; 
       }
    

  .firstblock_readmore:hover {
    background-color: #fa0a32;
    transition-duration: 0.3s;
     opacity: 1;
  }
  .firstblock_readmore-text{
    display: flex;
    margin-left: 16px;
    justify-content: end;
    font-family: "TTLakesM",sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
   }
   .firstblock_info{
    margin: 0;
   }
   .img{
    max-width: 100%;
    height: auto;
   }